<h1>Welcome to str-replace.io</h1>

<h2>What is it?</h2>
<p>str-replace.io utilises the power of the cloud to do string replacements.</p>
<p>Why use old, out-dated methods for string replacement when you can utilise a modern, trendy RESTful service</p>

<h2>How do I use it</h2>

<p>Simply POST a JSON string to <pre>str-replace.io/replace</pre> containing your subject string, search string and replacement string</p>

<h3>Request</h3>
<pre>
{
  "subject":"Hello World!",
  "search":"Hello",
  "replace":"Goodbye"
}
</pre>

<h3>Response</h3>
<pre>
{
  "subject": "Hello World!",
  "search": "Hello",
  "replace": "Goodbye",
  "result": "Goodbye World!"
}
</pre>

<h2>Python client</h2>
<p>We also provide a full python client, because of course we do.</p>